{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<section style="margin:0px 200px; margin-top:80px;">
    <h1> 공동구매 종합정보 </h1>
    <br>
    <br>

    <div>
    {%if post.image%}
    <p>사진 : <img src="{{post.image.url}}" alt="사진"></p>
    {%endif%}
        카테고리 : {{post.category}} <br>
        상품명 : {{post.title}} <br>
        작성자 : <a style="text-decoration:none; color:black; font-family: 'Nanum Gothic Coding', sans-serif;"  href="{% url  'users:mypage' post_writer.id%}">{{post.writer}} </a><br>
        업로드날짜 : {{post.pub_date}} <br>
        마감날짜 : {{post.deadline}} <br>
        수량 : {{post.quantity}} 개 <br>
        총가격 : {{post.price}} 원 <br>
        목표인원 : {{post.people}} 명 <br>
        예상 인당가격 : {{post.price_per_person}} 원<br>
        오픈채팅방 주소 : {{post.chat}} <br>
        공동구매 픽업 주소 : {{post.spot}} <br>
    </div>
    <br>
    {%if request.user.is_authenticated%}
    <div>내 집주소 - 공동구매 픽업 장소 사이 거리 : {{post.distance}}km </div>
    <br>
    
    <a href="{% url 'posts:map' post.id %}" class="btn btn-dark">지도보기</a>
    {% endif %}
    <br><br><br>
    {% if user == post.writer %}
    <a href="{%url 'posts:edit' post.id%}" class="btn btn-dark">수정하기</a>
    <a href="{%url 'posts:delete' post.id%}" class="btn btn-dark">삭제하기</a>
    {% endif %} 

</section>
<br>
{% endblock %}