{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="margin:0px 200px; margin-top:80px;">
<h1> 게시물 작성하기 </h1><br>

<form action="{%url 'posts:create'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>카테고리:<label for="category"></label>
        <select name="category" id="category">
            <option value="식자재">식자재</option>
            <option value="생필품">생필품</option>
            <option value="OTT 서비스">OTT 서비스</option>
            <option value="기타">기타</option>
        </select></p><br>
    <p> 사진: <input type="file" name= "image"></p>
    <p> 상품명 : <input type="text" name="title"></p>
    <p> 마감기한 : <input type="date" name="deadline"></p>
    <p> 수량 : <input type="number" name="quantity" min="1">개</p>
    <p> 총가격 : <input type="number" name="price" min="0">원</p>
    <p> 목표인원 : <input type="number" name="people" min="1"></p>
    <p> 오픈채팅방 주소 : <input type="text" name="chat"></p>
    <p> 공동구매 픽업 주소 : <input type="text" name="spot"></p>
    <br><button type="submit">제출</button>
</form>
</section>
<br>
{% endblock %}