{% extends 'base.html' %}
{% load static %}
{% block content %}

<section style="margin:0px 200px; margin-top:80px; font-family: 'Noto Sans KR', sans-serif;">

    <h2 style="font-family: 'Nanum Gothic Coding', sans-serif;">모든 게시물</h2>

    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
                <div class="featured__controls">
                    <ul>
                        <li><a href="{% url 'posts:recent_postlist'%}" style="color:#ff6600;">최신순</a></li>
                        <li><a href="{% url 'posts:distance_postlist'%}" style="color:#ff6600;">거리순</a></li>
                        <li><a href="{% url 'posts:price_postlist'%}" style="color:#ff6600;">가격순</a></li>
                        <li><a href="{% url 'posts:deadline_postlist'%}" style="color:#ff6600;">마감기한순</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {%for post in post%}
        <hr>
        <div style="overflow:auto; width: 100%; display:flex; margin: 10px 0px; height: 22vh;">
            <div style="margin:0px 30px; height:20vh; border-radius:10%;">
                <!-- {%if post.image%}
            <img src="{{ post.image.url }}" style="object-fit: cover; width:100%; height: 100%;" alt="사진">
            {%else%}
            <img src="../../static/images/main.png"
                style="width:15vh; height:15vh; position:relative; top:2.5vh; left:2.5vh;">
            {%endif%} -->
                {%if post.image%}
                <img src="{{ post.image.url }}" style="object-fit: cover; width:100%; height: 100%;" alt="사진">
                {%else%}
                {%if post.category == '식자재'%}
                <img src="../../static/img/default/vegetable_icon.svg"
                    style=" border-radius:10%; background-color:lightgray; width:100%; height:100%;" alt="food">
                {%elif post.category == '생필품'%}
                <img src="../../static/img/default/plates_icon.svg"
                    style=" border-radius:10%; background-color:lightgray; width:100%; height:100%;"
                    alt="daily_necessity">
                {%elif post.category == 'OTT 서비스'%}
                <img src="../../static/img/default/netflix_icon.svg"
                    style=" border-radius:10%; background-color:lightgray; width:100%; height:100%;" alt="ott">
                {%else%}
                <img src="../../static/img/default/etc_icon.svg"
                    style=" border-radius:10%; background-color:lightgray; width:100%; height:100%;" alt="etc">
                {%endif%}
                {%endif%}
            </div>
            <div style="display:flex; flex-direction: column; justify-content: space-around;">
                <a href="{%url 'posts:detail' post.id%}" style="text-decoration:none; ">
                    <h3 style="color:black; font-family: 'Nanum Gothic Coding', sans-serif;">{{post.title}}</h3>
                </a>
                <div style=" display:block;">
                    인당가격 : {{post.price_per_person}} 원<br>
                    모집인원 : {{post.people}} 명<br>
                    공구 마감일 : {{post.deadline}}<br>
                    작성자 : <a style="text-decoration:none; color:black; font-family: 'Nanum Gothic Coding', sans-serif;" href="{% url  'users:mypage' post.writer.id%}" >{{post.writer}}</a>
                    <br>픽업 거리 : {{post.distance}} km
                    
                </div>
            </div>
        </div>
        {%endfor%}
    </section>
</section>
<br>


{% endblock %}