<script language="javascript" type="text/javascript">
    function open_parent(t) {
       
        a="../../"+t+"/mypage"
        console.log(a)
        window.parent.location.href = a;
    }
</script>


<div style="background-size:100%; height:600px;">
    <div style="width:50%; height:100%; margin:150px auto; ">
        <div>
            <h3>팔로워{{user.profile.followers.count}}명</h3> 
            {%for follower in user.profile.followers.all %}
            
            <a href="" onclick="open_parent({{follower.user.id}})">{{follower.user.username}}</a> 
            {% endfor %}
            <h3>팔로잉{{user.profile.followings.count}}명</h3> 
            {% for following in user.profile.followings.all %}
            <a href="" onclick="open_parent({{following.user.id}})">{{following.user.username}}</a> 
            {% endfor %}
        </div>
    </div>
</div>